<h1>Products: </h1>
{{#each products}}
<div>
    <ul>
        <li><b>id: </b>{{this.id}}</li>
        <li><b>title: </b>{{this.title}}</li>
        <li><b>price: </b>{{this.price}}</li>
        <li><b>thumbnail: </b>{{this.thumbnail}}</li>
        <li><b>code: </b>{{this.code}}</li>
        <li><b>stock: </b>{{this.stock}}</li>
    </ul>
</div>
{{/each}}