<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<h1>Products: </h1>
<div id="list">
    {{#each products}}
    <div id="{{this.id}}">
        <ul>
            <li><b>id: </b>{{this.id}}</li>
            <li><b>title: </b>{{this.title}}</li>
            <li><b>description: </b>{{this.description}}</li>
            <li><b>price: </b>{{this.price}}</li>
            <li><b>thumbnails: </b>{{this.thumbnails}}</li>
            <li><b>code: </b>{{this.code}}</li>
            <li><b>stock: </b>{{this.stock}}</li>
            <li><b>category: </b>{{this.category}}</li>
            <li><b>status: </b>{{this.status}}</li>
            <button onclick="deleteProduct({{this.id}})">delete</button>
        </ul>
    </div>
    {{/each}}
</div>
<div>
    <form>Add a new product
        <ul>
            <li><label>title </label><input type="text" id="title" /></li>
            <li><label>description </label><input type="text" id="description" /></li>
            <li><label>price </label><input type="text" id="price" /></li>
            <li><label>code </label><input type="text" id="code" /></li>
            <li><label>stock </label><input type="text" id="stock" /></li>
            <li><label>category </label><input type="text" id="category" /></li>
            <li><label>status </label><input type="text" id="status" /></li>
            <li><label>select thumbnails: </label><input type="file" id="thumbnails" multiple /></li>
        </ul>
        <button onclick="addProduct()">send</button>
    </form>
</div>